.bounceRate{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bounceRateItem{
        // border: 1px solid var(--border-100);
        overflow: hidden;
        border-radius: 6px;
        background: var(--background-hover);
        -webkit-box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 0px 8px 1px rgba(50, 50, 50, 0.618);

        .top{
            padding: 10px;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                h3{
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--gray-100);
                    margin-bottom: 8px;
                }

                h1{
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .right{

                h4{
                    // color: var(--gray-100);
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                p{
                    color: var(--gray-100);
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}