.forgetPassword {
    display: flex;
    background: rgb(2, 58, 100);
    // background-image: linear-gradient(to left top, #00162a, #005c7b, #00a1ba, #139cb3, #6362d9);
    background: linear-gradient(90deg, hsla(164, 75%, 28%, 1) 0%, hsla(264, 75%, 28%, 1) 100%);
    height: 100vh;
    justify-content: center;
    align-items: center;

    .forgetPasswordContainer {
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #10587066;
        border-radius: 5px;
        width: 400px;
        padding: 20px 0;

        .forgetPassordWrapper {
            border: 1px solid rgba(255, 255, 255, 0.445);
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;

                img {
                    width: 110px;
                    height: 110px;
                }
            }

            h2 {
                color: #fff;
                margin-bottom: 10px;
                font-size: 23px;
                font-weight: 600;
            }

            h4 {
                color: rgba(255, 255, 255, 0.621);
                margin-bottom: 25px;
                font-size: 13px;
                font-weight: 400;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;

                div {
                    color: rgba(255, 255, 255, 0.621);
                    font-size: 14px;
                }

                input, button {
                    padding: 0 6px;
                    height: 40px;
                    margin-top: 10px;
                    font-size: 17px;
                    font-weight: 400;
                    color: #fff;
                    background-color: #093f4956;
                    border: 1px solid rgba(255, 255, 255, 0.445);
                    border-radius: 4px;
                    outline: none;

                    &:last-child {
                        cursor: pointer;
                        font-weight: 600;
                        margin-top: 20px;
                    }
                }

                button{
                    background-color: rgba(77, 156, 182, 0.7568627451);
                }
            }

            .forgetBack {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 0 7px;
                height: 40px;
                margin-top: 10px;
                font-size: 17px;
                font-weight: 500;
                color: #fff;
                background-color: rgba(77, 156, 182, 0.7568627451);
                border: 1px solid rgba(255, 255, 255, 0.445);
                border-radius: 4px;
                outline: none;

                .icon {
                    font-size: 17px;
                    margin-right: 10px;
                }
            }
        }
    }
}